@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2 style="text-align:center">Kantara Registry of Trusted Identifiers</h2>
        <ul>
            <li>Vist the <a asp-area="" asp-controller="Home" asp-action="HealthCare">Proposed Health Care Solution</a>, a demonstration of the IDEF <a href="https://wiki.idesg.org/wiki/index.php/Health_Care_Profile">Health Care Profile.</a></li>
            <li>See a list of all of the IDEF registrants by <a asp-area="" asp-controller="Registry" asp-action="Index">querying the Database.</a></li>
            <li>See the <a href="~/images/IDEFdata.json"> IDEF registry as JSON blob shows the underlying api used to access the registry.</a></li>
            <li>The working definition can be viewed at <a href="https://tcwiki.azurewebsites.net/index.php?title=Federation_Trust_Registry">the Federation Trust Registry.</a></li>
            <li>For more detailed information see <a href="https://tcwiki.azurewebsites.net/index.php?title=Main_Page">The Identity Management wiki</a></li>

        </ul>
        <div style="width:100%; vertical-align:middle; font:500; text-align:center; height:43px; display:flex">
            To access the demo api
            <div style="display:inline-block; height:100%"><a href="~/registryquery"> Click here </a></div>
        </div>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">Identifier Ecosystems</h2>
        <ul>
            <li>
                The next stop is to allow phone apps to be able to validate them selves in a <a href="https://kantarainitiative.org/confluence/display/WT/Draft+Recommendations">Distributed Assurance Specification.</a>
            </li>
            <li>OpenID is working on a <a href="https://openid.net/specs/openid-connect-federation-1_0.html"> specification for federation</a></li> that works when all parties can agree on data formats and permissions. That level of agreement is not common.
            <li>Yet another certification mark. This one from the <a href="https://www.prnewswire.com/news-releases/id2020-alliance-accelerates-towards-good-digital-identity-through-launch-of-certification-mark-and-new-alliance-member-300783721.html">ID2020 Alliance</a> at least is for a good cause.</li>
            <li><a href="http://www.tscp.org/trust-framework-services/ ">Trust Services of TSCP the Transglobal Secure Collaboration Program</a> is a similar registry that is mostly focused on NATO A&D industry.</li>
            <li><a href="https://kantarainitiative.org/confluence/pages/viewpage.action?pageId=115803009">View or join the Kantara IDEF FIRE work group here.</a>(creating a health profile for the existing framework.)</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Main_Page">The wiki for the IDEF inherited from the IDESG</a></li>

        </ul>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">ID Ecosystem Framework = IDEF</h2>
        <ul>
            <li><a href="https://IDEFregistry.org">The main page of the IDEF registry</a></li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Framework_Profiles">The Identity Ecosystem Framework</a> will need fine-grained specifications for applying its principles to specific vertical industry and horizontal community requirements.</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Health_Care_Profile">This Health Care Profile</a> is one of the Framework Profiles that will allow developers of code and user experience to determine if their systems are compliant with the framework.</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Financial_Profile">This Financial Services Profile</a>is s placeholder for a similar proposal in support of the Financial Services</li>
            <li>The IDEF is one of the registered <a href="https://kantarainitiative.org/trust-registry/trust-status-list/">Trust Marks.</a> And is now supported by the Kantara Initative.</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Framework_Management_Office">The IDEF Framework Management Office</a> (somewhat out-of-date)</li>
            <li><a href="https://idesg.edufoundation.kantarainitiative.org/">The old IDESG web site</a>(definitly out-of-date)</li>

        </ul>
    </div>

</div>

